<!DOCTYPE html>
<html>
<head>

	<title>LOGIN</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body style="background:linear-gradient(45deg,lightgreen,lightgrey);height: 100vh">
	<div class="card" style="position: relative;top: 20vh;background:linear-gradient(90deg,#000,#39FEBA,#000);color:#fff;">
		<div class="card-body">
	<center>
<label>
	Email Address:
</label>
<br><input type="varchar" name="email"><br>
<label>
	Password:
</label>
<br>
<input type="password" name="password"><br>
forget password
<br><input type="button" name="submit" value="submit">
</center>
</div>
</div>
</body>
</html>